<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengkx.mapper.idenCardMapper">
    
    <!--配置查找sql-->
    <select id="getIdencardById" parameterType="Integer" resultType="idenCard">
        select * from `idencard` where id=#{id}
    </select>
</mapper>