<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chengkx.mapper.PetMapper">

    <resultMap id="PetResultMap" type="Pet">
        <id property="id" column="id"/>
        <result property="name" column="nickname"/>
        <association property="user" column="user_id"
                     select="com.chengkx.mapper.UserMapper.getUserById"></association>
    </resultMap>
    <select id="getPetsByUserId" parameterType="Integer" resultMap="PetResultMap">
        SELECT * FROM mybatis_pet WHERE user_id=#{userId}
    </select>

    <select id="getPetById" parameterType="Integer" resultMap="PetResultMap">
        SELECT * FROM mybatis_pet WHERE id=#{id}
    </select>

</mapper>