<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--实现对应的接口的方法-->
<!--namespace指定该xml文件和哪个接口对应-->
<mapper namespace="com.chengkx.mapper.MonsterMapper">

    <!--通过name或者id查找monster-->
    <select id="findMonsterByNameORId" parameterType="monster" resultType="monster">
        SELECT * FROM `monster`
        WHERE id=#{id} OR `name`=#{name}
    </select>

    <select id="findMonsterByName" parameterType="String" resultType="monster">
        SELECT * FROM `monster`
        WHERE `name` LIKE '%${name}%'
    </select>

    <select id="findMonsterByIdAndSalary_PrameterHashMap" parameterType="map" resultType="monster">
        SELECT * FROM `monster`
        WHERE `id` > #{id} AND `salary` > #{salary}
    </select>

    <select id="findMonsterByIdAndSalary_PrameterHashMap_ReturnHashMap" parameterType="map" resultType="map">
        SELECT * FROM `monster`
        WHERE `id` > #{id} AND `salary` > #{salary}
    </select>

</mapper>